#Backend URL
VITE_API_URL=http://localhost:3000

# Sepolia. Completar con valores en .env de backend.
VITE_RPC_URL=completar_con_alchemy_instructivo_en_repo_blockchain
VITE_CHAIN_ID=11155111
VITE_VOTE_TRANSMITTER_PRIVATE_KEY=private_key
VITE_AUDIT_VIEW_ADDRESS=multisig_address